.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 40px;
  padding: 20px 20px 12px;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}
